#login-form {
    margin-top: 30px;
    padding: 40px;

    // Fixes Firefox red border bug
    input:required {
        box-shadow: none;
    }

    input:invalid {
        box-shadow: none;
    }

}

#error-span {
    text-align: center;
    // display: none;

    span {
        color: red;
    }
}

#submit-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    Button {
        background-color: $main-brand-color;
        border: none;
    }

}