#guest-area {
    h1 {
        text-align: center;
        text-decoration: underline;
        padding: 10px;
    }
}

.guest-profile {
    display: flex;
    justify-content: center;

    .guest-name {
        padding-right: 10px;
    }

    .delete-button {
        color: red;
        opacity: 0.5;
        border: none;
        background: none;
        margin-top: -15px;
        border: none;
        outline: none;

        &:hover {
            opacity: 1;
            cursor: pointer;
            transform: scale(1.4, 1.4);
        }
    }
}