#staff-area {
    h1 {
        text-align: center;
        text-decoration: underline;
        padding: 10px;
    }

    .staff-profile {
        display: grid;
        grid-template-columns: minmax(50px, 1fr) minmax(200px, 2fr);
    }

    .indicator {
        height: 20px;
        width: 40px;
        margin: 0 auto;
        opacity: 0.7;
    }

    .staff-name {
        // justify-content: flex-start;
        padding-left: 20px;
    }

}