#staff-area {
    h1 {
        text-align: center;
        text-decoration: underline;
        padding: 10px;
    }

    .profile {
        display: grid;
        grid-template-columns: minmax(50px, 1fr) minmax(200px, 2fr);
    }

    .indicator {
        height: 20px;
        width: 30px;
        margin: 0 auto;
    }

    .person-name {
        justify-content: flex-start;
        padding-left: 20px;
    }

}